footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--padding);
  padding-bottom: 12px;
  align-items: start;
  position: relative;
}

footer:before {
  content: "";
  display: block;
  height: 1px;
  background: var(--color-black);
  grid-column: 1 / -1;
}

.footer_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer_item > .logo {
    padding: 0;
}



footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  padding: 0; /* remove forced padding */
}

.footer_language_switch {
  display: flex;
  gap: 0.5rem;
}

.footer_language_switch > li:first-of-type::after {
    content: "/";
}

.non_active {
  color: var(--color-text-grey);
}

.footer__contact {
  align-items: flex-start;
}

.footer__copyright {
    font-size: 16px;
    line-height: 1.2rem;
}


@media screen and (min-width: 60rem) {
  footer {
    grid-template-columns: repeat(6, 1fr);
  }
}