
footer {
    display: grid;
    grid-gap:  var(--padding);
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    overflow-x: auto;
    white-space: nowrap; 
}

.footer__item__copyright {
    grid-column-start: 1;
    -ms-grid-column-span: 1;
}
.footer__item__copyright p:last-child {
    font-size: 14px;
}

.footer__page_list {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.footer__page_list li a {
    font-size: 16px;
}

.footer__contact {
    grid-column-start: 1;
    grid-column-end: 3;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

footer:before {
    content: "";
    display: block;
    height: 2px;
    background: var(--color-black);
    grid-column-start: 1;
    grid-column-end: -1;
}



footer h2 {
    font-weight: 600;
    margin-bottom: .75rem;
}

footer ul li {
    margin: 0 6px;
}
footer ul,
footer p {
    color: var(--color-text-grey);
}
footer p {
    max-width: 15rem;
}
footer a:hover {
    color: var(--color-text);
}

footer ul {
    display:flex;
    justify-content:center;
    align-items:center;
}

@media screen and (min-width: 60rem) {
    .footer__contact {
        grid-column-start: 6;
        grid-column-end: -1;
        align-items: flex-end;
    }

    .footer__page_list {
        grid-column-start: 2;
        grid-column-end: 6;
        justify-content:center;
    }

    
}