.language_switch {
  display: flex;
  gap: 0.5rem;
  flex-direction: row !important;

}

.language_switch > li {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.language_switch > li:first-of-type::after {
    content: "|";
    font-size: inherit;
    padding-left: 6px;
    color: black;
}

.nav_container > ul > li >.language_switch > li:first-of-type::after {
  font-size: 36px
}

@media screen and (min-width: 60rem) {
    .language_switch > li {
      justify-content: center;
    }

    .nav_container > ul > li >.language_switch > li:first-of-type::after {
      padding : 0 12px;
      font-size: 60px
    }
}