.nav_container {
    width: 75vw;
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: white;
    transform: translateX(100vw);
    transition: transform 0.3s ease-out; /* Smooth transition */
    z-index:10;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: solid black 1px;
}

.nav_container.open {
    transform: translateX(25vw); /* Slide in */ 
}

.nav_container ul {
    display:flex; 
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 48px;
}

.menu_content {
    position: relative;
}

.menu_close {
    align-self: flex-end;
    padding: 24px;
    font-size:24px;
}


.nav_container ul li a:hover {
    letter-spacing: 0.8rem;
    transition: all 0.2s ease-out;
    opacity: 0.5;
  }

#menu_overlay {
    position: fixed;
    top: 0; 
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index:10;
    background-color:black;
    opacity: 1;
    display:none;
    mix-blend-mode: saturation;
}

@media screen and (min-width: 60rem) {
    .nav_container {
        width: 50vw;
    }

    .nav_container.open {
        transform: translateX(50vw); /* Slide in */ 
    }


    .menu_close {
        font-size:36px;
        line-height: 2.7rem;
    }

    
}