.related__link {
    display: flex;
}

.related__link li a {
    border: solid black 1px;
    border-radius: 25px;
    padding: 6px;
}

.related__link > li:not(:first-child) {
    padding-left: 6px;
}