.related__link {
    display: flex;
    margin-top: var(--padding);
}

.related__link li a {
    border: solid black 1px;
    border-radius: 25px;
    padding: 6px;
   
}

.related__link li a:hover {
    color: white;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.related__link > li:not(:first-child) {
    padding-left: 6px;
}


@media screen and (min-width: 60rem) {
    .related h3 {
        margin-top:72px
    }
}