.content {
    padding-top: var(--padding);
    width: 100%;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-row-gap: var(--padding);
    grid-column-gap: calc(var(--padding)/2);
}

.middle-layout {
    grid-column-start: 1;
    grid-column-end: -1;
}

.project__title {
    grid-column-start: 1;
    grid-column-end: -1;
}

.project__quote {
    grid-column-start: 2;
    grid-column-end: -1;
}

.project__video > iframe {
    aspect-ratio: 16/9;
    width: 100%;
}

.project__prevnext {
    grid-column-start: 1;
    grid-column-end: -1;
    display:flex;
    justify-content: space-between;

}

@media screen and (min-width: 60rem) {
    .content {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: var(--padding);
        padding-top: 64px;
    }

    .project__title {
        grid-column-start: 3;
        grid-column-end: -1;
    }

    .middle-layout {
        grid-column-start: 3;
        grid-column-end: 11;
    }

    .project__quote {
        grid-column-start: 4;
        grid-column-end: 11;
    }
    
}