.grid {
    grid-auto-rows: minmax(250px, 1fr);
    grid-row-gap: calc(var(--padding)*4);
}

.grid__item_image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: solid black 1px;

}

.grid__item {
    aspect-ratio: 1 / 1;
}

@media screen and (min-width: 60rem) {
    .grid {

        grid-auto-rows: minmax(550px, 1fr);
        grid-row-gap: calc(var(--padding)*3);
    }

    .grid__item p {
        margin-top: 12px;
    }
}