.project__images_container {
    grid-column-start: 1;
    grid-column-end: -1;
    transform: translateX(calc(var(--padding)*-1));
    width: calc(100% + 2*var(--padding));
    position: relative;
    border: solid black 1px;
    aspect-ratio: 16 / 9;
    cursor: pointer;
}

.project__image {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    opacity: 0;
}

.project__image_show {
    opacity: 1;
}

.project__carousel_nav {
    position: absolute;
    display:flex;
    bottom:12px;
    width: 100%;
    justify-content: center;
}

.project__carousel_nav_btn {
    height: 15px;
    width: 15px;
    background-color:white;
    border:solid black 1px;

    border-radius: 50%;
    margin-right: 12px;
}

.btn_active {
    background-color:black;
    border:solid white 1px;
}

@media screen and (min-width: 60rem) {
    .project__images_container {
        grid-column-start: 2;
        grid-column-end: 12;
        transform: translateX(0);     
    }

    .project__carousel_nav_btn {
        height: 25px;
        width: 25px;
    }

    .project__carousel_nav {
        bottom:var(--padding);
    }
}