.topic__row {
    grid-column-start: 1;
    grid-column-end: 11;
}

.topic__content h2, p{
    margin-bottom: var(--padding);
}

.block {
    grid-column-start: 1;
    grid-column-end: 11;
}

.block-type-quote {
    grid-column-start: 2;
    grid-column-end: 11;
}

.topic__references li {
    list-style: inside;
}

.topic__references li::marker {
    margin-left: 0;
}

.topic__reference__title {
    font-weight: 700;
}

.topic__references li  {
    margin-bottom: 0;
}


@media screen and (min-width: 60rem) {
    .topic__row {
        grid-column-start: 3;
        grid-column-end: 11;
    }

    .block {
        grid-column-start: 3;
        grid-column-end: 11;
    }

    .block-type-quote {
        grid-column-start: 4;
        grid-column-end: 11;
    }
    
    
}

